#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    browser_column_widths: [20, 38, 42],
    text_color: "#ebdbb2",
    background_color: "#282828",
    header_background_color: "#282828",
    modal_background_color: None,
    modal_backdrop: false,
    borders_style: (fg: "#665c54"),
    highlighted_item_style: (fg: "#d3869b", modifiers: "Bold"),
    current_item_style: (fg: "#282828", bg: "#ebdbb2", modifiers: "Bold"),
    highlight_border_style: (fg: "#ebdbb2"),
    symbols: (song: "󰝚 ", dir: " ", playlist: "󰲸 ", marker: "* ", ellipsis: "..."),
    tab_bar: (
        active_style: (fg: "#282828", bg: "#d3869b", modifiers: "Bold"), 
        inactive_style: (),
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "1",
                borders: "NONE",
                pane: Pane(Tabs),
            ),
            (
                size: "3",
                borders: "ALL",
                pane: Pane(Header),
            ),
            (
                size: "100%",
                borders: "ALL",
                pane: Pane(TabContent),
            ),
            (
                size: "3",
                borders: "ALL",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
    progress_bar: (
        symbols: ["█", "█", "█", "█", "█"],
        track_style: (),
        elapsed_style: (fg: "#d3869b"),
        thumb_style: (fg: "#d3869b"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#ebdbb2"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#ebdbb2"), 
                default: (kind: Text("Unknown"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#83a598"), 
                default: (kind: Text("Unknown"))
            ),
            width: "70%",
        ),
    ],
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#ebdbb2", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: ""))), style: (fg: "#b7bdf8", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#ebdbb2", modifiers: "Bold")),
                    (kind: Text(" ")),
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#fabd2f", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#fabd2f", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "#83a598", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#83a598", modifiers: "Bold"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#ebdbb2", modifiers: "Bold"),
                            separator_style: (fg: "#ebdbb2")))
                        ),
                        style: (fg: "#665c54")
                    ),
                ]
            ),
        ],
    ),
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],
        bar_width: 1,
        bar_spacing: 1,
        orientation: Bottom,
        bar_color: Single("#d3869b"),
    ),
    
)