window-rule {
    match app-id="steam" title="^notificationtoasts"
    open-focused false
    default-floating-position x=8 y=8 relative-to="bottom-right"
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
