* {
	font-family: "Symbols Nerd Font Mono", "CaskaydiaCove Nerd Font";
	font-size: 18px;
}

window#waybar {
	background-color: transparent;
}

#workspaces button {
	background-color: transparent;
	padding: 5px 10px 5px 10px;
	margin-right: 5px;
	color: #ebdbb2;

	border-radius: 5px;
}

#workspaces button:hover {
	background: #ebdbb2;
	color: #282828;
	box-shadow: inherit;
	text-shadow: inherit;
	border: transparent;
}

#workspaces button.active {
	background-color: #b5c9c2;
	color: #282828;
}

#workspaces button.urgent {
	background-color: #fabd2f;
	color: #282828;
}

#window {
	color: #ebdbb2;
	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#custom-proxy {
	color: #ebdbb2;
	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#network {
	color: #ebdbb2;
	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#bluetooth {
	color: #ebdbb2;
	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#language {
	color: #ebdbb2;
	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#pulseaudio {
	color: #ebdbb2;

	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#backlight {
	color: #ebdbb2;

	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#clock {
	color: #ebdbb2;

	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#custom-weather {
	color: #ebdbb2;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

#battery {
	color: #ebdbb2;

	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}

#tray {
	padding-right: 10px;
	padding-left: 10px;

	border-radius: 5px;
}
