name: build home

on:
  push:
    paths:
      - 'flake.nix'
      - 'flake.lock'
      - 'home/**'
  pull_request:
    paths:
      - 'flake.nix'
      - 'flake.lock'
      - 'home/**'
      

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        profile:
          - home

    steps:
      - uses: actions/checkout@v4

      - name: install nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: build home configuration
        run: nix build .#homeConfigurations.${{ matrix.profile }}.activationPackage
