name: build nixos

on:
  push:
    paths:
      - 'flake.nix'
      - 'flake.lock'
      - 'system/**'
      - 'home/**'
  pull_request:
    paths:
      - 'flake.nix'
      - 'flake.lock'
      - 'system/**'
      - 'home/**'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        host:
          - thinkpad

    steps:
      - uses: actions/checkout@v4

      - name: install nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: build ${{ matrix.host }} nixos config
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel -L
